<ion-header [translucent]="true">
  <ion-segment mode="ios" [(ngModel)]="segmentValue">
    <ion-segment-button value="shippCalculator">
      <ion-label>Calcular Frete</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registerCarrier">
      <ion-label>Cadastrar Transportadora</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngSwitch]="segmentValue">
    <div *ngSwitchCase="'shippCalculator'">
      <shipp-page></shipp-page>
    </div>
    <div *ngSwitchCase="'registerCarrier'">
      <register-page></register-page>
    </div>
  </div>
</ion-content>
